<h2><%= @product.name %></h2>
<nav>
	<ul>
		<li><%= link_to('Index', products_path) %></li>
		<li><%= link_to('Edit', edit_product_path(@product)) %></li>
		<li><%= link_to('Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure? No backsies!" }) %></li>
	</ul>
</nav>
<div class="show">
	<%= image_tag(@product.image.url) if @product.image? %>
	<table>
	<tr>
		<th>Name</th>
		<td><%= @product.name %></td>
	</tr>
	<tr>
		<th>Price</th>
		<td><%= number_to_currency(@product.price) %></td>
	</tr>
	<tr>
		<th>GST</th>
		<td><%= number_to_currency(@product.gst) %></td>
	</tr>
	<tr>
		<th>Total Price</th>
		<td><%= number_to_currency(@product.price + @product.gst) %></td>
	</tr>
	<tr>
		<th>Quantity</th>
		<td><%= @product.quantity %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @product.description %></td>
	</tr>
	</table>
</div>
